# (실습) 모음 자료형 2부: 집합, 사전, `range`, 조건제시법

## 집합

**문제 1**

세 집합 A, B, C가 다음과 같이 주어졌다.

In [ ]:
A = {2, 4, 5}
B = {1, 2, 2, 1, 10, 4}
C = {3, 3, 3, 4}

* $A \cap B \cap C$

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

AnBnC = A & B & C

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert AnBnC == {4}

* $(A \cup B \cup C) - A$

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

A = {2, 4, 5}
B = {1, 2, 2, 1, 10, 4}
C = {3, 3, 3, 4}

ArBrCmA = (A | B | C) - A

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert ArBrCmA == {1, 3, 10}

**문제 2**

리스트가 입력되면 중복된 항목은 제거하고 남은 항목들을 내림차순으로 정렬한
리스트를 반환하는 `unique_values()` 함수를 구현하라.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def unique_values(aList):

  aSet = set(aList)
  aList = list(aSet)
  aList.sort()
  aList.reverse()

  return aList

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert unique_values([1, 2, 1, 3]) == [3, 2, 1]
assert unique_values(['z', 'f', 'a', 'z']) == ['z', 'f', 'a']

## 사전

**문제 3**

다음 `participants` 변수는 모임일과 그날 참석한 사람들의 이름을 저장하는 사전을 가리킨다.

In [ ]:
participants = {'1월3일' : ['현성', '문정', '현무', '강현'], 
                '2월10일' : ['문정', '강현', '정훈'], 
                '3월7일' : ['현성', '연아', '현무', '지아']}

(1) 그런데 3월7일 모임에 강현이가 참석하였는데, 이 정보가 누락되었다.  
3월7일 참석자 명단 마지막에 '강현'을 추가한 다음, 아래와 같은 형식으로 출력하는 코드를 작성하여라.   

```python
3월7일 모임에는 ['현성', '연아', '현무', '지아', '강현'], 총 5명이 참석했습니다.
```

In [ ]:
# pass 를 적절한 명령문과 표현식으로 대체하라.
# 단, 앞서 언급된 출력값을 직접 사용하지는 않아야 한다.

participants['3월7일'].append('강현')

key = '3월7일'
print(f"{key} 모임에는 {participants[key]}, 총 {len(participants[key])}명이 참석했습니다.")

3월7일 모임에는 ['현성', '연아', '현무', '지아', '강현', '강현'], 총 6명이 참석했습니다.

(2) 이름을 입력받아 1월3일 모임에 참석했으면 `True`, 아니면 `False`를 출력하는 
`attended()` 함수를 작성하라.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def attended(name):
    if name in participants['1월3일']:
      return True
    else:
      return False

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

# assert attended("현성") == True
# assert attended("찬호") == False

**문제 4**

어느 반 학생들의 이름이 리스트로 주어졌다.

In [ ]:
students = ['Apeach', 'Ryan', 'Muzi', 'Choonsik', 'Neo', 'Tube']

번호와 이름을 키와 값으로 갖는 사전을 출력하는 코드를 작성하여라.
단, 번호는 이름의 오름차순으로 부여되고, 동명이인은 없다고 가정한다.  

힌트: `sorted()` 함수와 `enumerate()` 함수를 이용할 수 있다.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

sort_student = sorted(students)

result_dic = {}

for i, name in enumerate(sort_student, start = 1):
  result_dic[str(i)] = name

name_numbers = result_dic

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert name_numbers == {'1': 'Apeach', '2': 'Choonsik', '3': 'Muzi', '4': 'Neo', '5': 'Ryan', '6': 'Tube'}

**문제 5**

A대학의 일반차량에 대한 주차요금은 아래와 같다.   

* 2,000원/최초 30분, 초과 10분마다 500원, 1일(24시간)은 40,000원   

일반차량에 대한 입출차 기록이 리스트로 주어졌다.

In [ ]:
car_in_out = ['07:30 1234 IN', 
              '07:35 2580 IN',
              '08:15 0328 IN',
              '08:45 2580 OUT',
              '08:55 9876 IN',
              '11:00 1597 IN',
              '15:15 1234 OUT',
              '21:00 0328 OUT',
              '23:45 9876 OUT']

차량별로 주차시간과 주차요금이 사전 자료형으로 정리하는 코드를 작성하라.
단, 아래 사항을 가정한다.

* 차량번호는 차량 뒷번호 4자리를 기록하고, 동일한 차량번호는 없다.
* 시간은 24시간제를 사용하고, 모든 차량은 00:00부터 23:59분 사이에 한 번씩만 입출차 한다.
* 아직 출차하지 않은 차량에 대해서는 주차시간과 주차요금을 정리할 수 없다.

In [ ]:
# pass 와 None 을 적절한 명령문과 표현식으로 대체하라.
# 결과값을 직접 사용할 수는 없다.

car_parking_log = {}
log = {}

for each_log in car_in_out:
  time, number, inorout = each_log.split()
  if inorout == "IN":
    car_parking_log[number] = {inorout:time}

  else:
    car_parking_log[number].update({inorout:time})

for car_number in car_parking_log.keys():

  if car_parking_log[car_number].get("OUT") == None:
    pass

  else:
    start_hour = int(car_parking_log[car_number].get("IN")[0:2])
    start_minute = int(car_parking_log[car_number].get("IN")[3:])
  
    end_hour = int(car_parking_log[car_number].get("OUT")[0:2])
    end_minute = int(car_parking_log[car_number].get("OUT")[3:])

    start_minutes = (start_hour * 60) + start_minute
    end_minutes = (end_hour * 60) + end_minute

    minutes_dif = end_minutes - start_minutes

    car_parking_log[car_number].update({"parking_duration" : minutes_dif})
    
    if minutes_dif <= 30:
      price = 2000
    elif minutes_dif > 30:
      addi_fee = 500 * ((minutes_dif - 20-1) // 10)
      price = 2000 + addi_fee

      if price >= 40000:
        price = 40000

    car_parking_log[car_number].update({"parking_fee" : price})


  

  
car_parking_log

{'1234': {'IN': '07:30',
  'OUT': '15:15',
  'parking_duration': 465,
  'parking_fee': 24000},
 '2580': {'IN': '07:35',
  'OUT': '08:45',
  'parking_duration': 70,
  'parking_fee': 4000},
 '0328': {'IN': '08:15',
  'OUT': '21:00',
  'parking_duration': 765,
  'parking_fee': 39000},
 '9876': {'IN': '08:55',
  'OUT': '23:45',
  'parking_duration': 890,
  'parking_fee': 40000},
 '1597': {'IN': '11:00'}}

위 코드를 실행하면 다음과 같이 보여져야 한다.

In [ ]:
answer = {'1234': {'IN': '07:30',
                   'OUT': '15:15',
                   'parking_duration': 465,
                   'parking_fee': 24000},
          '2580': {'IN': '07:35',
                   'OUT': '08:45',
                   'parking_duration': 70,
                   'parking_fee': 4000},
          '0328': {'IN': '08:15',
                   'OUT': '21:00',
                   'parking_duration': 765,
                   'parking_fee': 39000},
          '9876': {'IN': '08:55',
                   'OUT': '23:45',
                   'parking_duration': 890,
                   'parking_fee': 40000},
          '1597': {'IN': '11:00'}}

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert car_parking_log == answer

## 조건제시법

**문제 6**

다음 월리스 공식<font size='2'>Wallis formula</font>을 이용하여 
원주율 PI를 소수점 이하 다섯째 자리까지 구하라.
단, 조건제시법을 반드시 이용한다.
또한 소수점 이하 다섯째 자리까지 구하기 위해 필요한 $i$ 의 최소값을 알아내야 한다.

$$
\pi = 2 \prod_{i=1}^{\infty} \frac{4 i^2}{4 i^2 -1}
$$

힌트: `range()` 함수, `math` 모듈의 `log()`, `exp()` 함수, 
`functools` 모듈의 `reduce()` 함수 등을 이용할 수 있다.
또한 다음과 같이 로그 함수와 지수 함수를 이용한다.

$$
\log\pi = \log 2 + \sum_{i=1}^{\infty} \left (\log(4 i^2) - \log(4 i^2 -1)\right )
$$

소수점 이하 다섯째 자리까지 구하기 위해 3.14159를 직접 이용하지는 않아야 한다.
대신에 $i$ 번째, $i+1$ 번째, ... , $i+k$ 번째 값이 소수점 이하 다섯째 자리까지 동일하도록
만드는 $i$ 값을 찾는 방법을 사용해야 한다. $k$를 얼마로 해야할지는 실험을 통해
알아내야 한다.

이런 방식을 사용하면 미리 알지 못하는 임의의 값의 수렴값을 원하는 정밀도까지 계산할 수 있다.

In [ ]:
import math
pi = 0

for i in range(1, 1000000):
    pi += (math.log(4 * (i * i))) - (math.log(4 * (i * i) - 1))
    if str(math.exp(math.log(math.pi)))[:7] == str(math.exp(math.log(2) + pi))[:7]:
        print(i)
        print(str(math.exp(math.log(2) + pi)))
        break

295976
3.141590000008055

In [ ]:
import math
pi = 0
print(type(pi))
[pi.add((math.log(4 * (i * i))) - (math.log(4 * (i * i) - 1))) for i in range(1000000) if str(math.exp(math.log(math.pi)))[:7] == str(math.exp(math.log(2) + pi))[:7]]
print(type(pi))

<class 'int'>
<class 'int'>

In [ ]:
def Estimatepi(dublets):
  i = 1
  multiplier = 2
  for dublet in range(dublets):
    pterm = multiplier / (multiplier - 1) 
    nterm = multiplier / (multiplier + 1)
    i *= pterm * nterm
    multiplier += 2
  return i * 2
print(Estimatepi(295976))

3.1415900000076453

In [ ]:
multiplier = 2
i *= [multiplier / (multiplier - 1) * multiplier / (multiplier + 1) for i in range(300000)]
print(i)

In [ ]:
def wallis(n):
    pi = 0.0   
    for i in range(1, n):
        x = 4 * (i ** 2)
        y = x - 1
        z = float(x) / float(y)
        if (i == 1):
            pi = z
        else:
            pi *= z
    pi *= 2
    return pi

print(wallis(100000))

3.141584799578707

In [ ]:
z = [float(4 * (i ** 2)) / float(4 * (i ** 2) - 1) for i in range(300000)]
print(z)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)