# (실습) 기본자료형

In [ ]:
from random import randint

**문제 1**

::1부터 999,999만 사이의 임의의 정수가 주어졌을 때 
해당 수를 지정된 방식으로 출력하는 코드를 작성하라.

예를 들어 123을 아래와 같이 출력해야 한다.

```python
입력하신 숫자는 000123입니다.
```

힌트: `randint()` 함수와 문자열 포매팅 활용.

In [ ]:
input = randint(1, 999999)

print("[{:0>6}]".format(input))

[779202]

**문제 2**

오늘의 요일이 주어질 때, 100일 후의 요일을 출력하는 코드를 작성하여라.
단, 일, 월, 화, 수, 목, 금, 토 각각은 0, 1, 2, 3, 4, 5, 6 으로 대신한다.
단, 오늘의 요일은 0부터 6 사이의 수로 무작위적으로 선택된다.

In [ ]:
today = randint(0, 6)

for i in range(0, 7):
  today += 1
  if today > 6:
    today -= 7
print(today)

# today가 위에서 있어야지 오류가 안나서 위로 올렸습니다.

0

**문제 3**

주민등록번호 881120-1068234 등이 주워지면
연월일(YYMMDD) 부분과 나머지 부분으로 구분하여 출력하는 코드를 작성하라.
단, 주민등록번호는 `randint()` 함수를 이용하여 무작위로 생성한다. 
뒤 7자리는 1에서 4 사이의 숫자로 시작함에 주의하라. 
출력은 다음 형식으로 이루워져야 한다.

```python
생년월일: 881120
  나머지: 1068234
```

힌트: 112500 등 실존하지 않는 생년월일을 피하기 위한 여러 가지 방식이 있을 수 있다. 제한을 가하거나, 아니면 특정 기준에 맞는 값이 나올 때까지 반복하면 된다. 아니면 6자리 수가 아닌 두 자리 수를 세 번 생성하여 결합할 수도 있다.

In [ ]:
year1 = randint(0, 9)             # 연도 10의 자리수
year2 = randint(0, 9)             # 연도 1의 자리수
month1 = randint(0, 1)            # 개월 10의 자리수
if month1 == 1:                   # 달의 10의 자리수가 1이라면
  month2 = randint(0, 2)          # 10, 11, 12월의 경우밖에 없으므로 제한하여 생성
else:                             # 달의 10의 자리수가 0이라면
  month2 = randint(1, 9)          # 1, 2, 3, 4, 5, 6, 7, 8, 9밖에 없으므로 제한하여 생성
month = str(month1) + str(month2) # 달의 1의 자리수와 10의 자리수를 합침
monthint = month1 + month2        # int형으로 변환한 값 저장
if monthint == 2:                 # 
  day1 = randint(0, 2)
  if day1 == 0:
    day2 = randint(1, 9)
  else:
    day2 = randint(0, 8)
elif monthint == 4 or monthint == 6 or monthint == 9 or monthint == 11:
  day1 = randint(0, 3)
  if day1 == 0:
    day2 = randint(1, 9)
  elif day1 == 3:
    day2 = 0
  else:
    day2 = randint(0, 9)
else:
  day1 = randint(0, 3)
  if day1 == 0:
    day2 = randint(1, 9)
  elif day1 == 3:
    day2 = randint(0, 1)
  else:
    day2 = randint(0, 9)
day = str(day1) + str(day2)
human1 = str(year1) + str(year2) + str(month) + str(day1) + str(day2)
print("생년월일: {:0>6}".format(str(human1)))

sex = randint(1, 4)
lastnum = randint(0, 999999)
human2 = str(sex) + str(lastnum)
print("  나머지: {:0>7}".format(str(human2)))
human = str(human1) + "-" + str(human2)

생년월일: 590502
  나머지: 1718616

**문제 4**

주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 
주민등록번호에서 성별을 나타내는 숫자를 
아래 형식으로 출력하는 코드를 작성하라.

힌트: 문자열 인덱싱을 활용한다.

출력:

```python
성별: 1 (남성)
```

출력:

```python
성별: 2 (여성)
```

In [ ]:
if human[7] == "1" or human[7]== "3": # 위에서 구한 주민등록 번호의 7번째 자리가 문자열 1인지 3인지 확인
  print("성별: {} (남성)".format(str(human[7])))  # 성별이 남성이라고 문자열 포맷팅으로 출력
else: # 남성이 아닌경우 여성임
  print("성별: {} (여성)".format(str(human[7])))  # 성별이 여성이라고 문자열 포맷팅으로 출력

성별: 4 (여성)

**문제 5**

다음과 같이 `a`, `b` 두 변수를 선언한 후 `a` 의 두 번째 요솟값을 변경하면 `b` 의 값은 
어떻게 되는지 확인하고 그 이유를 설명하라.

In [ ]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

위의 **a = b = [1, 2, 3]**은 a와 b를 복사한것과 같다.

때문에, 둘은 데이터의 원형이 [1, 2, 3]을 같이 공유하고 있다고 생각하면 된다.

데이터의 원본에 수정을 가하면 a와 b의 데이터 값이 변형되는 이유가 바로 여기서 나온다.

**문제 6**

과일 이름으로 구성된 문자열 하나가 주어졌다.

In [ ]:
fruit = "banana apple orange pineapple mango strawberry cherry"

(1) `fruit` 변수로부터 her 문자열을 추출하는 코드를 작성하여라.

In [ ]:
# 코드를 작성하세요.
# 필요하면 코드셀 또는 텍스트셀을 추가할 수 있습니다.


fruits = list(fruit.split())    # fruit 문자열에 포함된 과일 이름들을 공백으로 나눠서 리스트 형태로 저장

fruits[-1][1:4]            # 마지막 요소인 cherry에서 2번째부터 4번째 문자열까지 추출

'her'

(2) `fruit` 변수로부터 oae 문자열을 추출하는 코드를 작성하여라.

In [ ]:
fruit[-19:-26:-3]      # fruit 문자열을 거꾸로 3칸씩 이동하여 출력하면 다음과 같은 문자열을 얻음

'oae'

(3) `fruit` 변수로부터 yrrehc 문자열을 추출하는 코드를 작성하여라.

In [ ]:
fruits[-1][::-1]               # fruits 리스트의 마지막 요소인 cherry를 인덱싱을 사용해 거꾸로 추출

'yrrehc'

**문제 7**

다음 문자열이 주어졌다.

```python
'n o r t h w e s t e r n'
```

위 문자열을 이용하여 아래 문자열을 생성하는 코드를 작성하라.

```python
'Northwestern'
```

In [ ]:
arr = 'n o r t h w e s t e r n' # 위에서 주어진 문자열을 arr에 저장

print(arr[0].upper() + arr[2::2]) # 첫 글자인 n을 대문자로 upper로 변환 후 인덱싱을 사용하여 글자 빈 간격을 제거하여 출력

Northwestern

**문제 8**

아래 노래 가사를 활용하는 문제이다.

In [ ]:
song = "When you are smiling, the whole world smiles with you"

(1) `for` 문을 사용하여 `song`에서 `a`가 등장하는 횟수를 구하는 코드를 작성하라.

In [ ]:
count = 0 # a가 등장하는 횟수를 저장할 변수

for i in song:  # 반복문으로 song 문자열 문자 하나하나에 대해 반복한다.
  if(i == 'a'): # i가 문자열 a와 같은지 확인
    count += 1  # 횟수에 1을 더함

print(count)  # 횟수 출력

1

(2) 반복문을 사용하여  `song`에서 대소문자 구별없이 `w`가 등장하는 횟수를 구하는 코드를 작성하라.

In [ ]:
count = 0 # 횟수를 저장한 변수

for i in song:  # 반복문으로 song 문자열 문자 하나하나에 대해 반복한다.
  if(i == 'w' or i =='W'):  # i가 w의 대소문자를 감지
    count += 1  # 횟수에 1을 더함

print(count)  # 횟수 출력

4

**문제 9**

`num`이 가리키는 정수가 숫자 3을 포함하는 경우에는
`num` 의 세 배를 출력하고, 
아닌 경우에는 `num` 에서 2를 뺀 값을 출력하는 코드를 작성하라.
단, `num` 이 가리키는 수는 임의로 생성된 세 자리 수이어야 한다.

In [ ]:
num = randint(100, 999)

num = str(num)  # if문에서 숫자를 찾기 편하도록 str형으로 변환

if num[0] == "3" or num[1] == "3" or num[2] == "3": # num의 인덱스를 사용해 각 자릿수에 3이 있는지 확인
  num = int(num)  # 세 배를 곱하기 위해 int형으로 변환
  print(num * 3)  # 세 배를 출력
else:
  num = int(num)  # 2를 빼기 위해 int형으로 변환
  print(num - 2)  # 출력

# num = 123
# 출력: 369

248

**문제 10**

정수 나눗셈의 몫을 계산하는 코드를 `while` 반복문을 이용하여 구현한다.
단, 분자와 분모는 임의로 생성하며, 분자는 두 자리 정수, 분모는 한 자리 정수로 제한한다.
또한 몫 연산자 `//` 는 허용되지 않으며 덧셈과 뺄셈만 사용한다.

In [ ]:
number = randint(10, 99)  # 분자
divisor = randint(1, 9)   # 분모
answer = 0  # 몫

while number - divisor > 0: # 분자에 분모를 뺄 때 0 이상이면 반복문이 돌아감
  number -= divisor # 분자에 분모를 뺌
  answer += 1 # 몫을 1을 더함
print("몫은 %d이다." % answer)  # 몫 출력

몫은 4이다.

**문제 11**

어느 한 택배사의 무게에 따른 가격표가 다음과 같다.

| 5kg 미만 | 5kg 이상~10kg 미만 | 10kg 이상 |
|:-------:|:--------------------:|:---------:|
|5.000원 | 8,000원| 10,000원|

우편물의 무게가 임의의 자연수로 주어졌을 때, 택배 가격을 알려주는 프로그램을 만들어라.
단, 우편물의 무게는 최대 두 자리 수로 제한한다.

In [ ]:
weight = randint(1, 99)

if(weight < 5): # 무게가 5 미만인지 확인
  print('5,000원')  # 5,000원 출력

if(5 <= weight < 10): # 무게가 5 이상 10 미만인지 확인
  print('8,000원')  # 8,000원 출력

if(weight >= 10): # 무게가 10 이상인지 확인
  print('10,000원') # 10,000원 출력

# 소수 무게는 문제에 없어서 배제하고 풀었습니다.

10,000원

**문제 12**

0부터 100까지의 숫자 중에서 3의 배수와 7의 배수를 모두 찾아 출력한 다음, 
찾은 수들을 모두 더하여 아래와 같이 출력하는 코드를 작성하여라.

```python
0~100의 숫자 중 3의 배수와 7의 배수들의 합은 OOO이다.
```

In [ ]:
Sum = 0 # 합계를 저장할 변수 선언

for i in range(100):  # i가 100까지 돌아갈 반복문
  if(i % 3 == 0): # i가 3의 배수인지 확인
    Sum += i  # i를 sum에 더함
    print(i, end = '  ')  # 3의 배수인 i를 출력
  elif(i % 7 == 0): # i가 7의 배수인지 확인
    Sum += i  # i를 sum에 더함
    print(i, end = '  ')  # i가 7의 배수인지 확인
print(f'\n0~100의 숫자 중 3의 배수와 7의 배수들의 합은 {Sum}이다.') # sum을 출력

0  3  6  7  9  12  14  15  18  21  24  27  28  30  33  35  36  39  42  45  48  49  51  54  56  57  60  63  66  69  70  72  75  77  78  81  84  87  90  91  93  96  98  99
0~100의 숫자 중 3의 배수와 7의 배수들의 합은 2208이다.

In [ ]:
print(4 % 3)

1

**문제 13**

임의의 자연수 n이 주어졌을 때, 1부터 n까지의 자연수 중에서 3의 배수이거나 
3을 포함하는 숫자들의 합을 구하여라.
단, n 은 두 자리의 수로 제한한다.

In [ ]:
n = randint(10, 99)
sum = 0

for i in range(1, n + 1, 1):
  repeate = 0 # repeate를 통하여 3의 배수인 경우 3을 포함하는 숫자인지 확인X
  if(i % 3 == 0): # 3의 배수인지 확인
    sum += i  # sum에 i값을 더함
    repeate = 1 # repeate를 1로 만들어서 아래 if문을 패스함

  if(repeate == 0): # 위의 if문에서 3의 배수가 아닌경우가 해당함
    if(i % 10 == 3):  # 1의 자리가 숫자 3이 있는지 확인
      sum += i  # 있다면 sum에 i를 더함
    elif(int(i / 10) == 3): # 10의 자리에 숫자 3이 있는지 확인
      sum += i  # 있다면 sum에 i를 더함

print(sum)

97

**문제 14**

자연수 n이 주어졌을 때, n의 약수를 모두 출력하는 코드를 작성하여라. 
단, n 은 두 자리의 수로 제한한다.

In [ ]:
n = randint(10, 99)

for i in range(1, n + 1, 1):
    if(i > n / 2):  
# 한 숫자의 약수의 경우에는 2로 나눴을때 나오는 숫자가 자기 자신을 제외하고 가장 큰 약수이다.
# 때문에, 시간복잡도를 줄이고자 중앙값에 도달했을때 for문을 탈출한다.
      break
    if(n % i == 0):
        print(i, end=' ')
print(n)

1 2 3 5 6 9 10 15 18 30 45 90

**문제 15**

일찍 태어난 사람이 늦게 태어난 사람보다 정확히 두 배의 나이를 갖는 경우가 발생한다. 
예를 들어, 2003년 7월 12일에 태어난 사람과 2006년 9월 30일에 태어난 사람은
2009년 12월 19일에 서로의 나이가 딱 두 배가 된다.

이를 확인하는 코드를 `Timestamp` 자료형을 이용하여 작성하라.

In [ ]:
import pandas as pd 

d1 = pd.Timestamp('2003-07-12')
d2 = pd.Timestamp('2006-09-30')

In [ ]:
print(d2 + (d2 - d1))

2009-12-19 00:00:00

**문제 16**

아래 명령문을 실행할 때 오류가 발생한다. 이유가 무엇인가?

```python
if 3/0 or True:
    print("나는 출력되지 않아요.")
```

이유를 설명하세요.

파이썬에서는 or 연산과 and 연산을 할 때, 시간 절약을 위해 왼쪽의 식으로 전체가 결정되면 오른쪽 비교식은 판단하지 않는 것이다. 따라서 위의 코드에서 왼쪽 연산인 3/0은 0으로 나누는 것은 오류가 발생하기에 if문 내부가 실행되지 못하고 오류 발생했다는 문구가 출력된다.

**문제 17**

아래 명령문을 실행할 때 오류가 발생하지 않는다. 이유가 무엇인가?

```python
if True or 3/0:
    print("오류가 발생하지 않아요.")
```

이유를 설명하세요.

16번과 같은 이유로 or은 둘 중 하나만 참이어도 전체가 참인 연산이다. 이 때 위의 코드는 왼쪽식부터 연산하는데 True이기 때문에 전체 결과도 참으로 결정된다. 따라서 3/0은 판단하지 않고, 전체를 참으로 판단한다. 따라서 if문 내부가 정상적으로 실행된다.