# (실습) 모음 자료형 1부: 문자열, 리스트, 튜플

## 문자열

**문제 1**

문자열 `a:b:c:d` 을 이용하여 문자열 `a#b#c#d` 생성하는 코드를 작성하라.
단, 문자열의 메서드만 사용한다.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.
# 단, 문자열 "a#b#c#d" 가 직접 언급되지 않아야 한다.

input_str = "a:b:c:d"

output_str = input_str.replace(":","#")

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert output_str == "a#b#c#d"

**문제 2**

메뉴와 가격이 공백으로 구분된 두 개의 문자열로 주어졌다.

In [ ]:
menu = "ham bread chicken egg"
prices = "1200 5000 17000 500"

가장 저렴한 메뉴와 가장 비싼 메뉴를 추천하는 문자열을 
다음과 같이 출력하는 프로그램을 구현하라.

```python
가장 저렴한 메뉴: egg  
가장 비  싼 메뉴: chicken  
```

In [ ]:
print("가장 저렴한 메뉴: %s" % menu[-3:])
print("가장 비  싼 메뉴: %s" % menu[-11:-4])

가장 저렴한 메뉴: egg
가장 비  싼 메뉴: chicken

**문제 3**

n! 은 1부터 n 까지의 자연수의 곱을 나타내며, 
n 의 계승 또는 팩토리얼<font size="2">factorial</fotn>이라 부른다. 

자연수 n 이 주어졌을 때, n! 의 끝에 있는 0 의 개수를 반환하는 `terminalZeroCount()` 함수를 
작성하라. 
단, n 은 1보다 크고 100보다 작은 자연수라고 가정하며, 문자열 메서드를 활용해야 한다.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def terminalZeroCount(n):
  sum_fact = 1
  count = 0
  for i in range(1, n + 1):
   sum_fact *= i
  while sum_fact % 10 == 0:
    count += 1
    sum_fact = int(sum_fact / 10)
  return count

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert terminalZeroCount(5) == 1
assert terminalZeroCount(10) == 2
assert terminalZeroCount(20) == 4

**문제 4**

거꾸로 노래 부르기 좋아하는 청개구리는 아래와 같이 노래를 부른다.  

> 끼토산 야끼토 로디어 냐느가 총깡총깡 서면뛰 를디어 냐느가

문자열이 주어졌을 때, 공백을 단위로 각 단어를 거꾸로 뒤집은 문자열을 반환하는 
`revers_words()` 함수를 작성하라.
단, 입력 문자열은 줄바꿈 없이 주어진다고 가정한다.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def reverse_words(s):
    s = s.split()
    result = ""
    for lylic in s:
      reverse = ""
      for i in range(len(lylic)):
        reverse += (lylic[len(lylic)-1-i])
      result += (reverse + " ")

    return result.rstrip()

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

lyrics = '산토끼 토끼야 어디로 가느냐'
rev_lyrics = '끼토산 야끼토 로디어 냐느가'

assert reverse_words(lyrics) == rev_lyrics

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

lyrics2 = '깡총깡총 뛰면서 어디를 가느냐'
rev_lyrics2 = '총깡총깡 서면뛰 를디어 냐느가'

assert reverse_words(lyrics2) == rev_lyrics2

**문제 5**

사용자의 이름과 전화번호를 입력 받으면 다음과 같이 반환하는 
`phone_book()` 함수를 구현하라.
단, 사용자의 이름은 두 글자에서 네 글자 사이며, 
핸드폰 번호는 9개에서 11개의 숫자가 다양한 방식으로 주어진다.

In [ ]:
def phone_book(name, phone):
    star_name = ""

    for i in range(len(name)):
      if i == 1 :
        star_name += "*"
      else:
        star_name += name[i]
      
    last_number = phone[-1:-5:-1]
    last_number = list(last_number)
    last_number.reverse()
    last_number = "".join(last_number)
    
    return (star_name, int(last_number))

In [ ]:
assert phone_book('김강현', '010-1234-5678') == ('김*현', 5678)
assert phone_book('강현', '01012345678') == ('강*', 5678)
assert phone_book('김강현이', '031-123-5678') == ('김*현이', 5678)
assert phone_book('강현이', '02-123-5678') == ('강*이', 5678)
assert phone_book('김강현', '010.1234.5678') == ('김*현', 5678)

**문제 6**

변수와 함수의 이름을 지정할 때 **카멜**<font size = "2">camel</font> 표기법 또는 
**팟홀**<font size="2">pothole</font> 표기법(**스네이크**<font size="2">snake</font> 표기법으로도 불림)을 
사용한다.

* 카멜 표기법 : 소문자로 시작하고, 이어지는 단어의 시작은 대문자로 작성하는 표기법.
    - 예제: `userName`, `printMessage`, `countA` 등. 

* 팟홀 표기법 또는 스네이크 표기법 : 모두 소문자를 사용하고, 단어 사이에 밑줄기호(`_`)를 사용하는 표기법. 
    - 예제: `user_name`, `print_message`, `count_a` 등.   


카멜 표기법을 팟홀 표기법으로 변환하는 `camel2pothole()` 함수를 구현하라.

힌트: `str.isupper()`메서드는 문자열이 대문자인지를 확인해준다.

In [ ]:
def camel2pothole(s):
    pothole = ""

    for i in s:
      if i.isupper():
        pothole += ("_" + i.lower())
      else:
        pothole += i


    return pothole

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert camel2pothole("userName") == "user_name"
assert camel2pothole("printMessage") == "print_message"
assert camel2pothole("countA") == "count_a"

**문제 7**

아래 조건을 만족하는 `zip_strings()` 함수를 구현하라.

* 세 개의 문자열을 각각 입력 받는 `str1`, `str2`, `str3` 매개 변수를 사용한다.
* `str3`가 가리키는 값이 `str1` 과 `str2` 이 가리키는 문자열에 포함된 문자들을
    번갈아가며 결합한 결과이면 `True`를, 아니면 `False` 를 반환한다.
* 두 문자열의 길이가 다르면, 가능한 데까지만 문자를 번갈아가며 결합하고 나머지는 그대로 적어준다.    

힌트: `zip()` 함수 활용 가능.

In [ ]:
def zip_strings(str1, str2, str3):
    
    if len(str1) <= len(str2):
      long_str = str2
      short_str = str1
    else:
      long_str = str1
      short_str = str2

    len_dif = len(long_str) - len(short_str)

    swich_str1 = ""
    swich_str2 = ""

    for (first, second) in zip(str1, str2):
      swich_str1 += (first + second)
      swich_str2 += (second + first)

    if len_dif != 0:
        swich_str1 += long_str[-(len_dif):] 
        swich_str2 += long_str[-(len_dif):]  
    
    
    return (str3 == swich_str1) or (str3 == swich_str2)

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert zip_strings('dog', 'cat', 'dcoagt') == True
assert zip_strings('cat', 'dog', 'dcoagt') == True
assert zip_strings('dog', 'cat', 'cdoagt') == False
assert zip_strings('computing', 'math','cmoamtphuting') == True
assert zip_strings('math', 'computing','cmoamtphuting') == True
assert zip_strings('math', 'computing', 'mcoamtphuting') == False

## 리스트

**문제 8**

`num_list` 변수가 아래처럼 선언되었다.

In [ ]:
num_list = [[1, 2, 3, [4, 5]], [6, 7, 8], 9]

(1) `9`를 츨력하는 코드를 작성하여라.

In [ ]:
print(num_list[2])

9

(2) `7`를 출력하는 코드를 작성하여라.

In [ ]:
# pass 적절한 명령문 또는 표현식으로 대체하라.

print(num_list[1][1])

7

(3) `[3, [4, 5]]`를 출력하는 코드를 작성하여라.

In [ ]:
# pass 적절한 명령문 또는 표현식으로 대체하라.

print(num_list[0][2:4])

[3, [4, 5]]

**문제 9**

어느 평가위원회는 평가 점수 중 최고점과 최저점을 제외한 점수들의 평균을 최종 평가 점수로 부여하려고 한다. 
선수 A의 점수가 다음 리스트로 주어졌다.

In [ ]:
A = [85, 96, 78, 88, 81, 92, 73]

선수 A의 최종 평가 점수를 출력하는 코드를 작성하여라.

힌트: `sum()` 함수 또는 `numpy.mean()` 함수 활용

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

A = [85, 96, 78, 88, 81, 92, 73]

max_A = max(A)
min_A = min(A)

A.remove(max_A)
A.remove(min_A)

sum_A = sum(A)

average_A = sum_A / len(A)

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert average_A == 84.8

**문제 10**

리스트을 항목을 내림차순으로 정렬한 값을 반환하는 `rev_list()` 함수를 구현하라.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def rev_list(aList):

    aList.sort(reverse = True)

    return aList

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert rev_list([2, 4, 1, 2]) == [4, 2, 2, 1]
assert rev_list(['c', 'f', 'a']) == ['f', 'c', 'a']
assert rev_list(['_ff', 'ABC', 'abd']) == ['abd', '_ff', 'ABC']

**문제 11**

리스트 `['Life', 'is', 'too', 'short']` 를 이용하여
문자열 `"Life is too short"` 을 생성하는 코드를 작성하라.
단, 리스트의 `pop()` 메서드를 사용해야 한다.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.
# 단, 문자열 "Life is too short" 이 직접 언급되지 않아야 한다.

input_list = ['Life', 'is', 'too', 'short']

code = ""

while True:
  code += input_list.pop(0)
  if len(input_list) == 0:
    break
  code += " "

print(code)

output_str = code

Life is too short

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert output_str == "Life is too short"

**문제 12**

정수 `a`와 자연수 `n`을 입력받아, `n`개의 항목을 갖는 리스트를 출력하는 
`int_clone()` 함수를 작성하여라.
단, 리스트의 항목은 `a`부터 시작하고, 그 다음 항목은 이전 항목보다 `a`만큼 크다.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def int_clone(a, n):
    result = []

    if a >= 0 :
      for i in range(n):
        result.append(a + (a*i))

    else:
      for i in range(n):
        result.append(a - (a*i))
      
    return result

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert int_clone(3, 4) == [3, 6, 9, 12]
assert int_clone(2, 3) == [2, 4, 6]

**문제 13**

주어진 정수를 오름차순으로 정렬하여, 리스트 형태로 반환하는 `int2sorted_list()` 함수를 작성하라.
단, 양의 정수만 입력값으로 사용한다.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def int2sorted_list(an_int):
    assert an_int > 0

    result = []

    for i in str(an_int):
      result.append(i)
      
    result.sort()

    return result

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert int2sorted_list(32145) == ['1', '2', '3', '4', '5']
assert int2sorted_list(435) == ['3', '4', '5']

**문제 14**

교육 참가자 명단과 수료자 명단이 아래처럼 리스트로 주어다.

In [ ]:
participant = ['Apeach', 'Ryan', 'Muzi', 'Choonsik', 'Neo', 'Tube']
completion = ['Ryan', 'Muzi', 'Neo', 'Choonsik']

수료하지 못한 사람들의 명단을 리스트로 출력하는 코드를 작성하여라.
단, 참여자 중 동명이인은 없고, 순서는 중요하지 않다.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.
# 단, 답을 직접 언급하지 말아야 한다.

unfinished = participant

for finished in completion:
  unfinished.remove(finished)

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert unfinished == ['Apeach', 'Tube']

**문제 15**

임의로 중첩된 리스트를 풀어헤쳐 중첩이 없는 리스트를 생성하는
`flatten()` 함수를 `while` 반복문을 이용하여 구현하라.
단, 재귀는 허용되지 않는다.

참고: 이 문제는 조금 어려우며, [stackoverflow: 임의로 중첩된 리스트 납작하게 만들기](https://stackoverflow.com/questions/10823877/what-is-the-fastest-way-to-flatten-arbitrarily-nested-lists-in-python) 를 참고할 수 있다.

In [ ]:
def flatten(a):
  for i, j in enumerate(a):
    while i < len(a) and (type(a[i]) == list or type(a[i])==tuple):
      a[i:i+1] = a[i]
  return a

print((flatten([1, 2, [3, 4, [5],[7, [10]]], [6]])))

[1, 2, 3, 4, 5, 7, 10, 6]

In [ ]:
nests = [1, 2, [3, 4, [5],['hi']], [6, [[[7, 'hello']]]]]

def flatten(container):
    for i in container:
        if isinstance(i, (list, tuple)):
            for j in flatten(i):
                yield j
        else:
            yield i

print(type(nests[2][3]))
print(list(flatten(nests)))

<class 'list'>
[1, 2, 3, 4, 5, 'hi', 6, 7, 'hello']

## 튜플

**문제 16**

튜플이 인자로 들어오면 튜플의 기존 항목들이 역순으로 추가된 튜플을 반환하는 
`tuple_double_rev()` 함수를 구현하라.

In [ ]:
# pass 와  None을 적절한 명령문과 표현식으로 대체하라.

def tuple_double_rev(t):

    t2list = list(t)
    t2list.reverse()

    t2tuple = tuple(t2list)


    return t + t2tuple

In [ ]:
# 아래 코드의 주석 기호를 삭제하고 실행할 때 오류가 발생하지 않아야 한다.

assert tuple_double_rev((1, 2, 3)) == (1, 2, 3, 3, 2, 1)
assert tuple_double_rev(('a', 'b')) == ('a', 'b', 'b', 'a')